/.venv/
/.idea/
__pycache__/
build/
dist/
/.pytest_cache/
/junit/
/.coverage
/htmlcov/
/coverage.xml
/google-com.html
/google-com/
/google-com_files/
/ru-hexlet-io-courses_files/
/ru-hexlet-io-courses.html
